*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: grey;
}
.container{
  max-width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
}
.gallery{
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "shirt shirt orange orange "
    "road road rose rose"
    "space space bird bird"
    "hill hill river river"
    "town town sun sun"
    "beach beach green green"
    "sky sky rock rock"
    "flower flower sea sea";
}
#pic{
  grid-area: shirt;
}
#pic1{
  grid-area: orange;  
}
#pic2{
  grid-area: road;  
}
#pic3{
  grid-area: space;  
}
#pic4{
  grid-area: bird;  
}
#pic5{
  grid-area: hill;  
}
#pic6{
  grid-area: river;  
}
#pic7{
  grid-area: town ;  
}
#pic8{
  grid-area: sun;  
}
#pic9{
  grid-area: beach;  
}
#pic10{
  grid-area: green;  
}
#pic11{
  grid-area: sky;  
}
#pic12{
  grid-area: rock;  
}
#pic13{
  grid-area: flower;  
}
#pic14{
  grid-area: sea;  
}
#pic15{
  grid-area: rose;  
}
.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.pic img:hover{
  box-shadow:  0 12px 9px 0 rgba(0,0,0,0.25);
  cursor: pointer;
  transition: 0.4s;
}
